body {
  padding: 1em;
  color: #999;
  text-shadow: 0 1px 0 #FFF;
  background-color: #EFEFEF;
  font-family: sans-serif;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  transition: opacity .2s linear;
  }

body.is-ready {
  opacity: 1 !important;
  }

h1 {
  font-size: 1.5em;
  color: #444;
  }

p {
  padding-top: 1em;
  border-top: 2px solid #DDD;
  }